$body-type-family: "jaf-facitweb",sans-serif;
$title-type-family: "jubilat",sans-serif;

$background: #192430;
$pink: #00b2aa;
$system-gray-dark: #555555;
$system-gray-medium: #AAAAAA;
$system-gray-light: #DDDDDD;
$system-red: #df1378;
$system-white: #FFFFFF;

$color-title-large: $system-white;
