$body-type-family: "jaf-facitweb",sans-serif;
$title-type-family: "jubilat",sans-serif;

$background: #192430;
$system-blue: #00b2aa;
$system-gray-dark: #555555;
$system-gray-medium: #AAAAAA;
$system-gray-light: #DDDDDD;
$system-red: #df1378;
$white: #FFFFFF;

$color-title-large: $white;
