#header {
  border: {
    color: black;
    style: solid;
    width: 0 0 1px 0;
  }
  height: 40px;
  width: 100%;
  min-width: 800px;
  img {
    height: 40px;
    margin: 0;
    border: 0;
  }
}

#content {
  margin: 10px auto;
  position: relative;
  width: 800px;
  height: 100%;
}

body[name='site/home'] {
  #header {
    height: 100px;

    img {
      height: 80px;
      margin: 10px 0;
    }
  }
}

